<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel App</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="bar">
                <a href="index.html" class="logo">
                    <h1 class="name no-margin center-text">Travel<span class="name__bold">app</span></h1>
                </a>

                <nav class="nav">
                    <a href="#" class="nav__links name__bold">Favorite</a>
                </nav>
            </div>
        </div>
        <div class="header__text">
            <h2 class="no-margin">Where's your new destiny?</h2>
            <p class="no-margin">Schedule with our travel planner<p>
        </div>
        <section class="destiny">
            <form class="form">
                <div class="fields__destiny">
                    <div class="field__1">
                        <input class="input" id="city" type="text" name="city" placeholder="Insert City: (Example:Mexico)" required>
                    </div>
                    <div class="field__2">
                        <label for="start_date" class="label_date">Start Date:</label>
                        <input class="input date" id="start_date" name="start_date" type="date" placeholder="Start on date" required>
                    </div>
                    <div class="field__3">
                        <label for="start_date" class="label_date">Finish Date:</label>
                        <input class="input date" id="final_date" name="final_date" type="date" required>
                    </div>
                    <div class="field__4">
                        <button id="btn_submit" type="submit" class="btn">Look the trip</button></a>
                    </div>
                </div>
            </form>
        </section> <!--destiny closer-->
    </header>
    <main class="container">
        <section class="card" id="card-info">            
        </section>
    </main> <!--main closer-->
    <footer id="footer">
        <h6 id="footer_title">Hope you enjoy our app // Credits: Christian Lennon</h6>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
          // Use the window load event to keep the page load performant
          window.addEventListener('load', () => {
            navigator.serviceWorker.register('/service-worker.js');
          });
        }
    </script>
</body>
</html>