@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel:wght@400;700&display=swap');

$font-header: 'Alfa Slab One', cursive;
$font-body: 'Cinzel', serif;

// color variables
$color-base: #F6F4F6;
$color-bckg: #424B54;
$color-form: #15172b;
$color-border: #EBCFB2;
$color-link: #da480f;
$darkest: #000;
$light: #fff;

// breakpoint tables
$tablet: 768px;
$web: 1200px;


//mixin variable
@mixin display-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  