main{
    margin-bottom: 10rem;
}
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(30rem,1fr));
    column-gap: 1rem;
    row-gap: 2.5rem;
    margin-top: 1rem;
    margin-bottom: 10rem;
    .card-data{
        display: grid;
        grid-template-areas:"img img"
                            "dlf dlf"
                            "stay stay"
                            "cit cit"
                            "cst cend"
                            "wth wth"
                            "txt txt"
                            "btn btn";
        row-gap: .5rem;
        border: 1px solid black;
        border-radius: 20px;
        .city-img{
            grid-area: img;
            border-top-right-radius: 20px;
            border-top-left-radius: 20px;
            width: 100%;
            height: 250px;
        }
        .stay-days{
            grid-area: stay;
            font-size: 1.2rem;
            text-align: center;
            font-weight: bold;
            margin: 0;
            padding: 0;
            span {
                color: red;
            }
        }
        .city-name{
            grid-area: cit;
            text-align: center;
            margin: 0;
            padding: 0;
            font-weight: bold;
            border-bottom: 1px solid black;
        }
        .city-start-date{
            grid-area: cst;
        }
        .city-end-date{
            grid-area: cend;
        }
        .city-start-date,
        .city-end-date{
            padding: .6rem;
            font-size: 1rem;
            font-weight: bold;
            text-align: center;
            margin: 0;
            border-bottom: 1px solid black;
        }
        .weather{
            grid-area: wth;
            padding: .8rem;
            margin: 0;
            .weather-title{
                font-size: 1rem;
                text-align: center;
                margin: 0;
                text-decoration-line: underline;
            }
            p{
                font-size: 1rem;
                font-weight: bold;
                margin: 0;
                text-align: center;
            }
        }
        .city-context{
            grid-area: txt;
            padding: 1rem;
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: center;
            border-top: 1px dotted black;
            
        }
        .days-left{
            grid-area: dlf;
            font-size: 1rem;
            text-align: center;
            font-weight: bold;
            font-style: italic;
            color: red;
            margin: 0;
        }
        .dlt_btn{
            grid-area: btn;
        }
    }
    
}

